@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap");

:root {
  --lg-font: "Kaisei Tokumin", serif;
  --sm-font: "Poppins", sans-serif;
  --pink: #e5345b;
  --color1: #008744;
}

html {
  scroll-behavior: smooth;
  text-transform: capitalize;
}

body {
  font-family: var(--sm-font);
  background-color: var(--color1);
  /* background-image: url(../stone-texture-background.jpg); */
}

h1 {
  font-size: 3rem;
}

.btn .bx {
  vertical-align: inherit;
  margin-top: -3px;
  font-size: 1.15rem;
}

.form-control {
  height: calc(2.5rem + 2px);
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.btn {
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.bx.icon-single {
  font-size: 1.5rem;
}

.form-inline .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-inline .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .form-inline .form-control {
    width: 210px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .form-inline .form-control {
    width: 440px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .form-inline .form-control {
    width: 600px;
  }
}

.sub-menu.navbar-light .navbar-nav .active > .nav-link,
.sub-menu.navbar-light .navbar-nav .nav-link.active,
.sub-menu.navbar-light .navbar-nav .nav-link.show,
.sub-menu.navbar-light .navbar-nav .show > .nav-link {
  border-bottom: 3px solid #008744;
  color: #008744;
}

.navbar .navbar-toggler {
  border: none;
}

.navbar-light .navbar-toggler:focus {
  outline: none;
}

.navbar {
  padding: 1rem;
}

.main-menu {
  position: relative;
  z-index: 3;
}

.sub-menu {
  position: relative;
  z-index: 2;
  padding: 0 1rem;
}

.container .hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  margin: 3px;
  background-color: var(--color1);
  border-radius: 3px;
  transition: all 0.5s;
  display: none;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .sub-menu {
    padding: 0 1rem;
  }

  .sub-menu.navbar-expand-md .navbar-nav .nav-link {
    padding: 1rem 1.5rem;
  }
  .container .hamburger {
    display: inline-block;
  }
  .container .hamburger {
    position: relative;
    flex-direction: column;
    width: 20px;
    justify-content: space-between;
    z-index: 100;
    overflow: hidden;
  }
  .container .hamburger input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
  }

  /* animation hamburger menu */
  .container .hamburger span:nth-child(2) {
    transform-origin: 0 0;
  }
  .container .hamburger span:nth-child(4) {
    transform-origin: 0 100%;
  }
  /* onclick */
  .container .hamburger input:checked ~ span:nth-child(2) {
    background-color: seashell;
    transform: rotate(45deg) translate(-1px, -1px);
  }
  .container .hamburger input:checked ~ span:nth-child(4) {
    background-color: seashell;
    transform: rotate(-45deg) translate(-1px, 0);
  }
  .container .hamburger input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
  }
}

.navbar.bg-light {
  background: #fff !important;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
}

.user-dropdown .nav-link {
  padding: 0.15rem 0;
}

#sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  width: 250px;
  z-index: 999;
  transition: all 0.3s;
  backdrop-filter: blur(23px);
}

#sidebar.active {
  left: 0;
}

#sidebarCollapse {
  color: #008744;
}

#sidebarCollapseX {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: var(--color1);
  cursor: pointer;
}

/* Main Content */
#content {
  transition: margin-left 0.3s;
}

#content.active {
  margin-left: 250px;
}

#sidebar .sidebar-header {
  background: #fff;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 1.5rem;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 40px;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px 16px;
  font-size: 1.1em;
  display: block;
  color: #000;
}

#sidebar ul li a:hover {
  color: #ffffff;
  background: #008744;
  text-decoration: none;
}

/* #sidebar ul li.active>a,
#sidebar a[aria-expanded="true"] {
    color: #ffffff;
    background: #008744;
    border-radius: 6px;
} */

a[data-toggle="collapse"] {
  position: relative;
}

#sidebar .links .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

section {
  padding: 6rem;
  background: #e4e4e4;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}

ul.social-icons {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

ul.social-icons li {
  display: inline-block;
  margin-right: 0px;
  margin-bottom: 0;
}

#sidebar ul.social-icons li a {
  font-size: 24px;
}

.utility-nav {
  background: #e4e4e4;
  padding: 0.5rem 1rem;
}

.utility-nav p {
  margin-bottom: 0;
}

.search-bar {
  position: relative;
  z-index: 2;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
}

.search-bar .form-control {
  width: calc(100% - 45px);
}

.avatar {
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  margin-right: 8px;
}

.avatar.avatar-xs {
  width: 2.25rem;
  height: 2.25rem;
}

.user-dropdown .dropdown-menu {
  left: auto;
  right: 0;
}

/* header */
#header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}

.carousel-inner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-inner h1 {
  font-size: 60px;
  font-family: var(--lg-font);
}

.carousel-item .btn {
  background-color: #007bff;
  /* border-color: #fff!important; */
  color: #fff;
  border-radius: 10px;
  padding: 5px 22px;
}

.carousel-item .btn:hover {
  color: #fff;
}
.custom-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
}

/* collection */
#collection {
  background-image: url(../stone-texture-background.jpg);
}
.active-filter-btn {
  background-color: var(--pink) !important;
  color: #fff !important;
  border-color: var(--pink) !important;
}

.filter-button-group .btn:hover {
  color: #fff !important;
}

.best {
  overflow: hidden;
  transition: all 0.3s ease;
  overflow: hidden;
  box-sizing: border-box;
}

.best:hover {
  transform: scale(1.2);
  margin-bottom: 4rem;
}

.collection-img img {
  border-radius: 15px;
}

.collection-img span {
  top: 20px;
  right: 20px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

#mitra {
  background-image: url(../stone-texture-background.jpg);
}

.mitra-logos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

.mitra-logos img {
  width: 100px;
  height: auto;
}

#kontak {
  background-image: url(../stone-texture-background.jpg);
}

.kontak .maps {
  height: 350px;
  width: 500px;
}

.kontak button {
  margin-top: 1.5rem;
  width: 100%;
}

/* footer */
.footer .container .row {
  display: flex;
  justify-content: space-between;
}
.footer {
  color: #fff;
  padding: 30px 0;
}

.footer h5 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
}

.footer p {
  font-size: 16px;
  line-height: 24px;
}

.footer ul.list-unstyled li {
  margin-bottom: 10px;
}

.footer ul.social-icons {
  padding-left: 0;
  margin-bottom: 0;
}

.footer ul.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.footer ul.social-icons li a {
  color: #fff;
  font-size: 20px;
}

.footer ul.social-icons li a:hover {
  color: #ccc;
}

.footer hr {
  border-color: #555;
}

.footer p.copyright {
  margin-top: 20px;
  font-size: 14px;
}
.footer hr {
  border-color: white;
}

@media (max-width: 767px) {
  .footer {
    text-align: center;
  }

  .footer ul.social-icons li {
    margin-right: 5px;
  }
  .card-container {
    display: flex;
  }
}
.svg-icon {
  fill: #008744;
}
